header {
    background-color:#0d30a3cb;
    color:black;padding:70px;
    text-align:center;
}

.navbar {
    background-color: #1a3b5c!important;
  }

.col-12 {
    padding: 20px;
}


form{
    width:"50%";
 
   
}

figure {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color:#0d30a3cb;
    color: black;
    padding: 20px;
}

  