header {
    background-color:#0d30a3cb;
    color:black;padding:70px;
    text-align:center;
}

.navbar {
    background-color: #1a3b5c !important;
  }

ul {
    text-align: center;
}

h4 {
    text-align: center;
}

footer {
    text-align: center;
    background-color:#0d30a3cb;
    color: black;
    padding: 20px;
}



