div {
    background-color:blue;
    color:white;padding:70px;
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0ADAD6;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(:active) {
    background-color: white;
}

footer {
    text-align: center;
    background-color: blue;
    color: black;
    padding: 20px;
}

